{% block madcoders_rma_return_item_widget %}
    {% apply spaceless %}
        <tr>
{#            <td>#}
{#                {{ form_row(form.itemToReturn) }}#}
{#            </td>#}
            <td class="single line">{{ form.vars.value.productName }}</td>
            <td class="left aligned">
                {{ form.vars.value.productSku }}
            </td>
            <td class="center line">
                <span class="sylius-quantity" style="display: inline-block" >{{ form_row(form.returnQty) }} </span> <span>/ {{ form.vars.value.maxQty }}</span>
            </td>
        </tr>
    {% endapply %}
{% endblock %}
