<h4 class="ui top attached styled header">
    {{ 'madcoders_rma.ui.customer_note'|trans }}
</h4>
<div class="ui attached segment" id="customer-note-data">
    <strong>{{ 'madcoders_rma.ui.return_reason'|trans }}:</strong> {{ rma_reason_name_view(order_return.returnReason) }} <br/>
    {% if order_return.customerNote is defined and order_return.customerNote is not empty %}
        <br/>
        <strong>{{ 'sylius.ui.notes'|trans }}:</strong> {{ order_return.customerNote }} <br/>
    {% endif %}
</div>
