<div class="summary">
    <a>{{ logItem.author.firstName }} {{ logItem.author.lastName }}</a> {{ 'madcoders_rma.admin.history.cancelled_return'|trans }} <a>{{ logItem.returnNumber }}</a>:
</div>
<div class="extra text">
    {{ 'madcoders_rma.admin.history.status_changed_to'|trans }} <strong>{{ 'madcoders_rma.state.cancelled'|trans }}</strong>
</div>
